<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/ngstorage@0.3.11/ngStorage.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/angular-file-saver@1.1.3/dist/angular-file-saver.bundle.min.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body ng-app="characterApp" ng-controller="characterCtrl">

    <!--
        TO DO:
        Quantity on Questions
        Weight on Choices
        Numbers as Choices
    -->
    <!-- View -->
    <!-- Debug Tools -->
    <!--<div>
        <table>
            <tr>
                <td>
                    <select ng-model="activeQuestion" ng-options="q as q.name for q in questions"></select>
                </td>
                <td>
                    <select ng-model="activeChoice" ng-options="c as c.name for c in activeQuestion.choices"></select>
                </td>
                <td>
                    <select ng-model="activeTrait" ng-options="t as t.name for t in traits"></select>
                </td>
                <td>
                    <select ng-model="activeMenu" ng-change="changeMenu(activeMenu)">
                        <option value="0">Main Menu</option>
                        <option value="1">Edit Question</option>
                        <option value="2">Edit Choice</option>
                        <option value="3">Edit Trait</option>
                        <option value="4">Show Questions</option>
                        <option value="5">Show Traits</option>
                        <option value="6">Playing</option>
                        <option value="7">Show Character</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>-->

    <div class="mainMenu">
        <button ng-click="changeMenu(0)">Main Menu</button>
    </div>

    <div ng-show="menuIndex == 0">
        <h2>Character Creator</h2>
        <table>
            <tr>
                <td colspan="3"><button ng-click="play()">Play!</button></td>
            </tr>
            <tr>
                <th>View</th>
                <td><button ng-click="changeMenu(4)">Questions</button></td>
                <td><button ng-click="changeMenu(5)">Traits</button></td>
            </tr>
            <tr>
                <td></td>
                <td><button ng-click="changeMenu(8)">Options</button></td>
                <td></td>
            </tr>
        </table>
    </div>

    <div ng-show="menuIndex == 1">
        <h2>Edit Question: <input ng-model="activeQuestion.name"></h2>
        <!-- Choices -->
        <table>
            <tr>
                <td colspan="2">Choices</td>
            </tr>
            <tr ng-repeat="x in activeQuestion.choices">
                <td ng-if="x.name == ''"><button ng-click="setActiveChoice(x); changeMenu(2)">(New)</button></td>
                <td ng-if="x.name != ''"><button ng-click="setActiveChoice(x); changeMenu(2)">{{ x.name }}</button></td>

                <td><button ng-click="activeQuestion.removeChoice(x)">x</button></td>
            </tr>
            <tr>
                <td><button ng-click="activeQuestion.newChoice()">Add</button></td>
            </tr>
        </table>
        <div class="menu">
            <button ng-click="changeMenu(4)">Back</button>
        </div>
    </div>

    <div ng-show="menuIndex == 2">
        <h2>Edit Choice: <input ng-model="activeChoice.name"></h2>
        <!-- Add Attributes -->
        <table>
            <tr>
                <td colspan="2">Add Attributes</td>
            </tr>
            <tr ng-repeat="x in activeChoice.addAttributes">
                <td>{{x.trait.name}}: {{ x.name }}</td>

                <td><button ng-click="activeChoice.removeAddAttribute(x)">x</button></td>
            </tr>
        </table>
        <!-- Only add attributes that already exist -->
        <form ng-submit="activeChoice.addAddAttribute(att)">
            <select ng-model="tr" ng-options="tr as tr.name for tr in traits"></select>
            <select ng-model="att" ng-options="att as att.name for att in tr.attributes"></select>
            <input type="submit" value="Add" />
        </form>
        <div class="menu">
            <button ng-click="changeMenu(1)">Back</button>
        </div>
    </div>

    <div ng-show="menuIndex == 3">
        <h2>Edit Trait: <input ng-model="activeTrait.name"></h2>
        <!-- Attributes -->
        <table>
            <tr>
                <td colspan="2">Attributes</td>
            </tr>
            <tr ng-repeat="x in activeTrait.attributes">
                <td><input ng-model="x.name"></td>

                <td><button ng-click="activeTrait.removeAttribute(x)">x</button></td>
            </tr>
            <tr>
                <td>
                    <button ng-click="activeTrait.newAttribute()">Add</button>
                </td>
            </tr>
        </table>
        <div class="menu">
            <button ng-click="changeMenu(5)">Back</button>
        </div>
    </div>


    <div ng-show="menuIndex == 4">
        <h2>Questions</h2>
        <table>
            <tr>
                <td>Question</td>
                <td>Choices</td>
                <td></td>
            </tr>
            <tr ng-repeat="x in questions">
                <td ng-if="x.name == ''"><button ng-click="setActiveQuestion(x); changeMenu(1)">(New)</button></td>
                <td ng-if="x.name != ''"><button ng-click="setActiveQuestion(x); changeMenu(1)">{{ x.name }}</button></td>

                <td>{{ x.choices.length }}</td>

                <td><button ng-click="removeQuestion(x)">x</button></td>
            </tr>
            <tr>
                <td><button ng-click="newQuestion()">Add</button></td>
            </tr>
        </table>
        <div class="menu">
            <button ng-click="changeMenu(0)">Back</button>
        </div>
    </div>

    <div ng-show="menuIndex == 5">
        <h2>Traits</h2>
        <table>
            <tr>
                <td>Traits</td>
                <td>Attributes</td>
                <td>Delete</td>
                <td>Auto Question</td>
            </tr>
            <tr ng-repeat="x in traits">
                <td ng-if="x.name == ''"><button ng-click="setActiveTrait(x); changeMenu(3)">(New)</button></td>
                <td ng-if="x.name != ''"><button ng-click="setActiveTrait(x); changeMenu(3)">{{ x.name }}</button></td>

                <td>{{ x.attributes.length }}</td>

                <td><button ng-click="removeTrait(x)">x</button></td>

                <td><button ng-click="newQuestionFromTrait(x)">+</button></td>
            </tr>
            <tr>
                <td><button ng-click="newTrait()">Add</button></td>
            </tr>
        </table>
        <div class="menu">
            <button ng-click="changeMenu(0)">Back</button>
        </div>
    </div>

    <div ng-show="menuIndex == 6">
        <div ng-show="options.choiceMode == 0">
            <h2>{{activeQuestion.name}}</h2>
            <table>
                <tr ng-repeat="x in activeQuestion.choices">
                    <td ng-if="x.name != '' && x != rollChoice">{{ x.name }}</td>
                    <td ng-if="x.name != '' && x == rollChoice && rolling" bgcolor="#FF0000">{{ x.name }}</td>
                    <td ng-if="x.name != '' && x == rollChoice && !rolling" bgcolor="#00FF00">{{ x.name }}</td>
                </tr>
                <tr>
                    <td><button ng-click="playQuestion()" ng-disabled="rolling">Next</button></td>
                </tr>
            </table>
        </div>
        <div ng-show="options.choiceMode == 1">
            <table>
                <tr>{{activeQuestion.name}}</tr>
                <tr ng-repeat="x in activeQuestion.choices">
                    <td ng-if="x.name != ''"><button ng-click="addActiveChoice(x); playQuestion()">{{ x.name }}</button></td>
                </tr>
            </table>
        </div>
        <div ng-show="options.choiceMode == 2">
            <h2>Instant</h2>
        </div>
    </div>

    <div ng-show="menuIndex == 7">
        <h2>Character</h2>
        <table>
            <tr>
                <th>Trait</th>
                <th>Attributes</th>
            </tr>
            <tr ng-repeat="(trait, array) in activeCharacter.attributes">
                <th>{{ trait }}</th>
                <td><span ng-repeat="att in array">{{att.name}}{{$last ? '' : ', '}}</span></td>
            </tr>
        </table>
        <div class="menu">
            <button ng-click="play()">Play Again?</button>
        </div>
    </div>

    <div ng-show="menuIndex == 8">
        <h2>Options</h2>
        <table>
            <tr>
                <th></th>
                <th>Save</th>
                <th>Load</th>
            </tr>
            <tr>
                <th>Local</th>
                <td><button ng-click="SaveToLocal()">Save</button></td>
                <td><button ng-click="LoadFromLocal()">Load</button></td>
            </tr>
            <tr>
                <th>File</th>
                <td><button ng-click="SaveToFile()">Save</button></td>
                <td>
                    <input type='file' ng-model-instant
                           onchange="angular.element(this).scope().LoadFromFile(event)"
                           multiple />
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <th colspan="3">Play Mode</th>
            </tr>
            <tr>
                <td><button ng-click="options.changeChoiceMode(0)">Roll</button></td>
                <td><button ng-click="options.changeChoiceMode(1)">Choose</button></td>
                <td><button ng-click="options.changeChoiceMode(2)">Instant</button></td>
            </tr>
        </table>
        <table>
            <tr>
                <th colspan="3">Roll Settings</th>
            </tr>
            <tr>
                <th>Roll Speed</th>
                <td><input ng-model="options.rollSpeed"></td>
                <td>Seconds between rolls</td>
            </tr>
            <tr>
                <th>Roll Times</th>
                <td><input ng-model="options.rollTimes"></td>
                <td>How many rolls are made before deciding</td>
            </tr>
        </table>
    </div>

    <!-- Import controller -->
    <script src="characterController.js"></script>

</body>
</html>
