body {
  display: flex;
  justify-content: center;
  text-align: center;
}

div {    
  justify-content: center;
  text-align: center;
}

table, th, tr, td {
  margin: auto;
  margin-bottom: 30px;
  border: 1px solid black;
}

th, td { 
    padding: 5px;
} 

table {
  border-collapse: collapse;
}

button {
    width: 100%;
}

.mainMenu {
    position: fixed;
    top: 1em;
    left: 1em;
}

.menu {
    position: fixed;
    top: 3em;
    left: 1em;
}