body {
  display: flex;
  justify-content: center;
  text-align: center;
}

div {    
  justify-content: center;
  text-align: center;
}

table, th, tr, td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
}

tr:nth-child(even)
{
    /*background-color: #f2f2f2;*/
}

button {
    width: 100%;
}